{% extends 'base.html' %} {% block content %}

<div class="container my-3">
  <div class="row mb-3">
    <div class="col text-center">
      <div class="text-center display-5">Conecta con el campo</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div
        class="card border-secondary rounded-circle mb-3 mx-auto"
        style="width: 7rem; height: 7rem"
      >
        <div class="card-body text-secondary">
          <div class="card-text icon-center">VACA</div>
        </div>
      </div>
      <div class="text-center">Vaca</div>
    </div>

    <div class="col">
      <div
        class="card border-secondary rounded-circle mb-3 mx-auto"
        style="width: 7rem; height: 7rem"
      >
        <div class="card-body text-secondary">
          <div class="card-text icon-center">Toro</div>
        </div>
      </div>
      <div class="text-center">Toro</div>
    </div>

    <div class="col">
      <div
        class="card border-secondary rounded-circle mb-3 mx-auto"
        style="width: 7rem; height: 7rem"
      >
        <div class="card-body text-secondary">
          <div class="card-text icon-center">Novillo</div>
        </div>
      </div>
      <div class="text-center">Novillo</div>
    </div>

    <div class="col">
      <div
        class="card border-secondary rounded-circle mb-3 mx-auto"
        style="width: 7rem; height: 7rem"
      >
        <div class="card-body text-secondary">
          <div class="card-text icon-center">Vacona</div>
        </div>
      </div>
      <div class="text-center">Vacona</div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row mb-3">
    <div class="display-6">Descubre lotes en venta</div>
  </div>
  <div class="card mb-3">
    <img src="" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
  </div>
</div>
{% endblock %}
